// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilites;

// Variables
@import 'variables';

// Vue Material
@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
    primary: #1c2f90, // The primary color of your application
    accent: md-get-palette-color(red, A200), // The accent or secondary color
    theme: light // This can be dark or light
));

@import "~vue-material/dist/theme/all"; // Apply the theme

// Page CSS
.home {
    .home-card {
        display: inline-table;
        position: fixed;
        bottom: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .gif {
        position: fixed;
        bottom: -20%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media only screen and (max-width: 1000px) {
            bottom: 0%;
        }
        @media only screen and (max-width: 600px) {
            bottom: 30%;
        }
        @media only screen and (max-width: 300px) {
            bottom: 50%;
        }
    }
}
