.request {
    .posts {
        padding: 2rem 0 0 1rem;
    }
    .sidebar {
        position: fixed;
        top: 3.5rem;
        bottom: 0;
        right: 0;
        width: 20rem;
        background-color: white;
        .top {
            background-color: #1d68a7;
        }
        .request {
            position: absolute;
            bottom: 0;
            width: 100%;
            button {
                border-radius: 0;
            }
        }
    }
}
